
 <p class="flash"><%= notice %><%= alert %></p>
<div class="col-md-6 col-sm-6">
   
<section class="about">
  <h1>About This Application</h1>

  <p>
     Rails研修用アプリケーション
     アプリトップページ
  </p>
</section>
</div>
<div class="col-md-6 col-sm-6">
<section class="function">
 <div class="pull-left">
 <img src="<%= asset_path "topimage.jpg" %>" class="home-image" >
 </div>
</section>
</div>
